* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


:root {
  --bg: #34227e;
  --wd: #FFd936;
  --tx: #911b1b;
}

.hero {
  height: 100vh;
  background:
    linear-gradient(rgba(171, 117, 117, 0.4), rgba(0, 0, 0, 0.4)),
    url("person2.jpg");

  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;


}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
  background-color: #007bff;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

.logo {
  font-size: 26px;
  font-weight: bold;
  color: white;
  text-decoration: none;
  text-align: left;
}

.menu {
  display: flex;
  margin-right: 80px;
  list-style: none;
  gap: 25px;
  background-color: #007bff;



}

.menu a {
  color: white;
  text-decoration: none;
  font-size: 20px;


}

/* 
.auto-Show {
  animation: text-apper both;
  animation-timeline: view();
  animation-range: entry 20% cover 100vh;

} */

@keyframes text-apper {
  from {
    opacity: 0;
    transform: translateY(100px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.menu-btn,
.close-bar {
  display: none;
  width: 28px;
  cursor: pointer;
}

.hero-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 68px;


}

.hero-text {
  max-width: 600px;
  margin-left: 15px;
  margin-top: 50px;
}

.hello {
  background: white;
  color: #2b7cc4;
  padding: 6px 12px;
  border-radius: 5px;
  font-weight: bold;
  margin-left: 10px;

}

.hero-text h1 {
  font-size: 60px;
  margin: 40px 0;
  line-height: 1.2;
}

.hero-text h2 {
  font-size: 40px;
  margin: 20px 0;
  overflow: hidden;
  white-space: nowrap;
  border-right: 3px solid black;
  width: 0;
  animation: typing 4s steps(25) forwards, blink .7s infinite;
}

@keyframes typing {
  from {
    width: 0;
  }

  to {
    width: 100%;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}

.hero-text p {
  color: #e2e2e2;
  margin-bottom: 30px;
}


.buttons {
  display: flex;
  gap: 20px;
  margin-bottom: 30px;
  flex-wrap: wrap;
}

.btn {
  padding: 14px 30px;
  border-radius: 6px;
  text-decoration: none;
  font-weight: bold;
  margin-left: 25px;
}

.hire {
  background: #1b6ec2;
  color: white;
  margin-left: 25px;
}

.portfolio {
  background: white;
  color: #2b7cc4;
}


.social {
  display: flex;
  gap: 25px;
  color: #fff;
  font-size: 14px;

}

@media(max-width:768px) {

  .hero-container {
    flex-direction: column;
    text-align: center;
  }

  .hero-image img {
    width: 300px;
    margin-top: 40px;
  }

  .hero-text h1,
  h2 {
    font-size: 20px;
  }

  .hero-text h2 {
    font-size: 20px;

  }


  .social,
  .logo {
    font-size: 15px;
  }

  .social {
    justify-content: center;
  }

  .buttons {
    flex-direction: column;
    width: 100%;
  }

  .buttons .btn {
    width: 90%;
    text-align: center;
  }

  #navLinks {
    position: fixed;
    height: 100vh;

    top: 0;
    right: -200px;
    background-color: #007bff;
    text-align: left;
    transition: 0.4s;
    padding-top: 60px;

  }

  .menu {
    width: 100%;
    flex-direction: column;
    padding-left: 25px;
  }

  .menu li {
    margin: 20px 0;
  }

  .menu-btn {
    display: block;
  }

  .close-bar {
    display: block;
    position: absolute;
    top: 20px;
    left: 20px;
  }

  .section-about {
    flex-direction: column;
  }

  .left-about,
  .right-about {
    width: 100%;
  }

  .right-about {
    margin-top: 20px;
  }

  .service-container {
    grid-template-columns: 1fr;
  }

  .pricing-sec {
    grid-template-columns: 1fr;

  }

  .part-div {
    grid-template-columns: 1fr;
    text-align: center;

  }

  .btn-3 {
    margin-top: 15px;
    justify-self: center;
  }

  .footer {
    display: flex;

    align-items: normal;
    justify-content: center;
    flex-wrap: wrap;
  }


  /* 
  .app-logo {
    justify-content: center;
  } */

}

section {
  all: unset;
}

.section-about {
  width: 90%;
  margin: 60px auto;

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));

  gap: 50px;
  align-items: center;
}

.left-about img {
  width: 100%;
  border-radius: 12px;
}

.rightskill-content {
  padding: 25px;
  border-radius: 12px;

  box-shadow:
    5px 5px 10px rgba(0, 0, 0, 0.4),
    inset 5px 5px 10px rgba(255, 255, 255, 0.08),
    inset -5px -5px 10px rgba(0, 0, 0, 0.4),
    -5px -5px 10px rgba(255, 255, 255, 0.08);
}

.right-content h2 {
  color: rgb(21, 11, 11);
  margin-bottom: 30px;
  text-transform: capitalize;
}

.right-content .skill {
  margin: 35px 0;
}

.skill p {
  margin-bottom: 10px;
  color: rgb(14, 3, 3);
  font-size: 20px;
}

.skill .progress-line {
  position: relative;

  width: 100%;
  height: 10px;

  background: rgba(255, 255, 255, 0.08);

  border-radius: 10px;
  overflow: visible;
}


.skill .progress-line::before {

  position: absolute;
  content: "";

  height: 16px;
  width: 16px;

  top: 50%;
  left: 0;

  transform: translateY(-50%);

  background: var(--bg);

  border-radius: 50%;

  box-shadow:
    0 0 5px var(--bg),
    0 0 10px var(--bg);

  z-index: 2;

  animation: circle-animate 2s forwards ease-out;

  opacity: 0;
}

.skill .progress-line span {

  display: block;

  height: 100%;
  width: 0;

  background: var(--bg);

  border-radius: 10px;

  box-shadow: 0 0 5px var(--bg);

  animation: span-animate 2s forwards ease-out;
}


@keyframes circle-animate {

  25% {
    left: 0;
    opacity: 1;
  }

  100% {
    left: calc(var(--wd) - 8px);
    opacity: 1;
  }
}


@keyframes span-animate {

  25% {
    width: 0;
  }

  100% {
    width: var(--wd);
  }
}


.skill .progress-line span::before {

  position: absolute;
  content: "";

  width: 0;
  height: 0;

  border: 7px solid transparent;

  border-top-color: var(--bg);

  top: -10px;
  right: -6px;

  opacity: 0;

  animation: hint 0.2s forwards 2s;
}



.skill .progress-line span::after {

  position: absolute;

  content: var(--tx);

  top: -35px;
  right: -18px;

  background: var(--bg);

  color: #111;

  padding: 4px 7px;

  font-size: 13px;
  font-weight: bold;

  border-radius: 5px;

  opacity: 0;

  animation: hint 0.2s forwards 2s;
}



@keyframes hint {

  to {
    transform: translateY(-5px);
    opacity: 1;
  }
}


.right-about {
  position: relative;
  margin-top: 50px;

}

.right-about input {
  display: none;
}

.left-about img {
  width: 100%;
  height: 100%;
  margin-top: 50px;
  display: block;
}

.tab-content {
  display: none;
}


.active-tab {
  display: block;
}

.tab-buttons {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.tab-btn {
  padding: 10px 20px;
  border: none;
  background: lightgray;
  cursor: pointer;
}

/* active button */
.tab-btn.active {
  background: rgb(64, 79, 212);
  color: white;
}


.tab-content {

  padding: 50px;
}

.tab-span {
  display: inline-block;
  font-size: 25px;
  padding-top: 50px;
  font-style: initial;
}

.tab-sp {
  color: rgb(156, 147, 147);
}


.services-section {
  text-align: center;
  padding: 50px 20px;
  margin-top: 80px;
}

.section-subtitle {
  color: #0a74dd;
  font-weight: bold;
  font-size: 14px;
  margin-bottom: 10px;
}

.section-title {
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 40px;
}

.service-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 25px;
  background-color: #fff
}

.service-card {
  background: white;
  padding: 25px;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.08);
  text-align: left;
}

.service-icon {
  font-size: 45px;
  color: #0a74dd;
  margin-bottom: 20px;
}

.service-icon img {

  width: 10%;
}

.service-card h3 {
  margin-bottom: 15px;
  color: #0a74dd;
  font-size: 25px;
}

.service-card p {
  font-size: 14px;
  line-height: 1.5;
  margin-bottom: 20px;
  color: #555;
}

.read-more {
  color: #0a74dd;
  text-decoration: none;
  font-weight: bold;
}

.service-text {
  margin-top: 50px;
}

.service-text h2 {
  font-size: 20px;
  margin-bottom: 15px;
}

.service-text p {
  max-width: 700px;
  margin: auto;
  line-height: 1.6;
}

.customer {
  padding: 80px 0;

  background:
    linear-gradient(to right, rgba(44, 83, 100, 0.8), rgba(44, 83, 100, 0.8)),
    url("open.jpg");
  color: white;
  background-size: cover;

}

.row-2 {
  width: 80%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  background-color: #007bff;
}

.customer-col {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;

}

.customer-col img {
  width: 80px;
}

.customer-text {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.customer-text h2 {
  margin: 10px;
  font-size: 35px;
}

.customer-text p {
  margin: 0;
  font-size: 20px;
}

.Portfolio {
  width: 100%;
  padding: 60px 20px;
  text-align: center;
}

.portfolio-text {
  margin-top: 50px;
  background-color: #fff;
  text-align: center;
}

.portfolio-text h6 {
  margin: 0;
  font-size: 14px;
  color: gray;
}

.portfolio-text h1 {
  margin-top: 10px;
  font-size: 36px;
}

.row-3 {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 30px;
  margin: 35px;
  background-color: #fff;
}

.card {

  height: 400px;
  position: relative;
  overflow: hidden;
}

.card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.layer {
  position: absolute;
  inset: 0;
  background: rgba(97, 55, 210, 0.5);
  opacity: 0;
  transition: 0.5s;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  text-align: center;
}

.card:hover .layer {
  opacity: 1;
}

.layer h3,
.layer p {
  transform: translateY(20px);
  transition: 0.5s;
}

.card:hover .layer h3,
.card:hover .layer p {
  transform: translateY(0);
}

.carousel {
  width: 90%;
  margin: 50px auto;
  display: flex;
  flex-direction: column;
  overflow-x: auto;
  background-color: #fff;


}

.testimonials-text {
  margin-top: 0%;
  background-color: #fff;
  text-align: center;
}

.testimonials-text h5 {
  margin: 0;
  font-size: 14px;
  color: gray;
}

.testimonials-text h1 {
  margin-top: 10px;
  font-size: 36px;
}

.carousel::-webkit-scrollbar {
  display: none;
}

.testimonials-group {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  animation: spin 60s infinite linear;
  animation-duration: normal;
}

.testimonials-col {
  flex: 0 0 300px;
  height: 300px;
  padding: 1em;
  background-color: white;
  font-size: 12px;
  align-content: center;


}

.testimonials-col h6 {
  color: #1b6ec2
}

@keyframes spin {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-100%);
  }
}

.user-info {
  display: flex;

  align-items: center;
}

.testimonials-col img {

  height: 40px;
  width: 40px;
  border-radius: 50%;
}

.testimonials-col h6,
h4 {
  margin: 0;
  margin-left: 5px;
  margin-top: 0px;
  font-size: 25px;
  font-weight: bold;
}

.testimonials-col h6 {
  margin-left: 80px;
  margin-top: 0px;
  font-size: 15px;
  font-weight: bold;
}

.testimonials-col p {
  padding: 0;
  margin-left: 2px;
  font-size: 15px;
}

.blog-section {
  width: 90%;
  margin: 50px auto;
  background: black;
}

.row {
  display: grid;
  grid-template-columns: 1fr;
  gap: 30px;
}

.blog-card img {
  width: 100%;
  height: 250px;
  object-fit: cover;
}

.blog-content {
  padding: 25px;
}

.date-sec {
  font-size: 14px;
  color: #777;
  margin-bottom: 15px;
  display: flex;
  gap: 20px;
}

.date-sec span:last-child {
  color: #007bff;
  font-weight: bold;
}

.blog-card h2 {
  font-size: 22px;
  margin-bottom: 15px;
}

.blog-card p {
  color: #888;
  line-height: 1.6;
}

@media (min-width:1024px) {
  .row {
    grid-template-columns: repeat(2, 1fr);
  }
}

.blog-card {
  background: #fff;
  border-radius: 5px;
  overflow: hidden;
}

.blog-card img {
  width: 100%;
  height: 250px;
  object-fit: cover;
}

.pricing-sec {
  width: 100%;
  max-width: 1200px;
  margin: 50px auto;
  padding: 40px 20px;
  box-sizing: border-box;
  background: #fff;
}

.pricing-text {
  text-align: center;
  margin-bottom: 40px;
}

.pricing-text h5 {
  margin: 0;
  font-size: 14px;
  color: #007bff;
}

.pricing-text h1 {
  margin-top: 10px;
  font-size: 36px;
}

.pricing-text p {
  color: #666;
  line-height: 1.6;
}


.about-price-container {
  display: flex;
  justify-content: center;
  gap: 25px;
  flex-wrap: wrap;
}


.about-price {
  flex: 1 1 300px;
  max-width: 350px;
  border-radius: 10px;
  background: #444;
  padding: 2px;
}


.about-price .title {
  background: #fff;
  padding: 40px 25px;
  border-radius: 10px;
  text-align: center;
  height: 100%;
}

.about-price .title h3 {
  color: #1e73be;
  letter-spacing: 1px;
}

.title h1 {
  font-size: 50px;
  margin: 20px 0 10px;
  color: #1e73be;
}

.small {
  color: gray;
  margin-bottom: 30px;
}

.title ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.title ul li {
  margin: 12px 0;
  padding-bottom: 10px;
  border-bottom: 1px solid #ddd;
}

.no {
  color: gray;
}

.title button {
  margin-top: 25px;
  padding: 12px 25px;
  border: none;
  background: #0e6cd0;
  color: #fff;
  cursor: pointer;
  border-radius: 5px;
  transition: 0.3s;
}

.title button:hover {
  background: #084d96;
}


.about-price:nth-child(2) .title {
  background-color: #0b5ba0;
  color: white;
}

.about-price:nth-child(2) .title h3,
.about-price:nth-child(2) .title h1,
.about-price:nth-child(2) .small {
  color: white;
}

.about-price:nth-child(2) li {
  border-color: rgba(255, 255, 255, 0.3);
}

.about-price:nth-child(2) button {
  background: white;
  color: #1e73be;
}


.contact-section {
  width: 90%;
  margin: 50px auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 40px;
  align-items: start;
}

.map {

  height: 100%;
}


.map iframe {
  width: 100%;
  height: 100%;
  border: none;
}

.contact-form {
  width: 100%;
  padding: 40px;
}

.contact-info {
  display: grid;
  gap: 20px;
  margin: 20px 0;
}

.contact-info h4 {
  font-size: 15px;
}

.input-row {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

form input,
form textarea {
  width: 100%;
  padding: 12px;
  margin-top: 10px;
  border: 1px solid #ccc;
}

textarea {
  height: 120px;
}

.btn-2 {
  margin-top: 20px;
  padding: 12px 25px;
  background: #1c5a9c;
  color: white;
  border: none;
}

.Follow {
  margin-top: 20px;
}

.cnt {
  margin-right: 15px;
  font-size: 14px;
  color: #007bff;
}


.last {
  width: 100%;
  margin-top: 20px;
  padding: 6px 20px;

}


.part-div {

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  background: #1c5a9c;
  padding: 10%;
}



.small-container h2 {
  font-size: 20px;
  margin-right: 35px;
  color: #c6d0da;

}

.small-container p {
  margin-top: 10px;
  margin-right: 35px;
  color: rgb(167, 215, 215);
}

.btn-3 {
  padding: 12px 25px;
  border: 2px solid #c6d0da;
  background: transparent;
  color: white;
  cursor: pointer;
}

.btn-3:hover {
  background-color: #ccc;
}

.footer {

  display: grid;
  background-color: #ccc;
  grid-template-columns:
    repeat(auto-fit, minmax(250px, 1fr));
  padding: 60px 40px;

  gap: 40px;
}

.footer-col {
  width: 100%;
  overflow-wrap: break-word;


}

.footer-col h2,
.footer-col h3 {
  margin-bottom: 15px;
}

.footer-col p {
  color: #666;
  line-height: 1.6;
}

.footer-col ul {
  list-style: none;
  padding: 0;
}

.footer-col ul li {
  margin: 10px 0;
  color: #444;
}

.social-icons {
  margin-top: 15px;
}

.social-icons a {
  display: inline-flex;
  justify-content: center;
  align-items: center;

  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: white;
  color: #083264;
  margin: 0 5px;
  text-decoration: none;
  font-weight: bold;
}